// COLORS
// *************
	// BASE COLORS APP
		$col-zemsania: #f57c00; // Corporative Orange

	// GREYSCALE
		$col-black: #252525;
		$col-grey-10: lighten($col-black, 10%);
		$col-grey-20: lighten($col-black, 20%);
		$col-grey-30: lighten($col-black, 30%);
		$col-grey-40: lighten($col-black, 40%);
		$col-grey-50: lighten($col-black, 50%);
		$col-grey-60: lighten($col-black, 60%);
		$col-grey-70: lighten($col-black, 70%);
		$col-grey-80: lighten($col-black, 80%);
		$col-smoke-white: rgb(245,245,245); // Soft Grey (bg)

// BUTTONS
		$col-btn-base: #ff9800 !default;
		$col-btn-base-off: #9e9e9e !default;
		$col-btn-act-neg: #f44336 !default;
		$col-btn-act-pos: #33a260 !default;
		$col-btn-act-blu: #2196f3 !default;
		$col-btn-transp: rgba(255,255,255,0) !default;

	// GENERAL
		$col-red: #f44336 !default;
		$col-green: #33a260 !default;
		$col-blue: #2196f3 !default;
		$col-yellow: #ffee58 !default;
		$col-orange: #ff9800 !default;

